
@{ ViewData["Title"] = "CheckoutSuccess";
    Layout = "~/Views/Shared/_Layout_Shop.cshtml"; }
<a asp-action="Index" asp-controller="HangHoa" class="quaylai">
    <button class="empty-cart__link-btn clear-btn">QUAY LẠI CỬA HÀNG SBCODE</button>
</a>

<h1 class="thanhcong">Thanh Toán Thành Công :)))</h1>

